.block {
    background-color: white;
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 50%;
    height: 600px;
    width: 1200px;
    padding: 100px;
    margin: auto;
}

.gauche {
    color: #373644;
    display: block;
    height: auto;
    width: 400px;
}

h1 {
    font-family: Bitter;
    font-size: 50px;
}

p {
    font-family: Raleway;
}

button {
    background-color: #E5B840;
    font-family: Raleway;
    height: 50px;
    width: 200px;
}