nav ul {
    list-style-type: none;
    background-color: rgb(245, 240, 234);
    height: 57px;
    width: 1221px;
}

nav ul li {
    color: #939089;
    font-family: Abel;
    display: inline-flex;
    margin-top: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}